@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

body {
	background: #eeeeee;
	margin: 0;
	font-family: 'Roboto', sans-serif;
  max-width: 100%;
  margin: 4% 4% auto;
  flex-wrap: wrap;
}

* {
	box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

ul {
  display: inline;
  float: left;
}