@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

body {
	background: #eeeeee;
	margin: 0;
	font-family: 'Roboto', sans-serif;
  max-width: 100%;
  flex-wrap: wrap;
}

* {
	box-sizing: border-box;
}

header {
  padding: 5px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

header.lightTheme {
  background: #121620 !important;
  color: #fff !important;
}

header.darkTheme {
  background: #fff !important;
  color: #121620 !important;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul {
  display: inline;
  float: left;
}